/* Variables */
$grey-100: #6c757d;

$blue-100: #007bff;
$blue-200: #0056b3;

$spacing-4: 4px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-40: 40px;